<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuakeQuest</title>
</head>
<body>
    <h1>This works</h1>
    
    <main>
        <h1><a href="/landing">To the website</a></h1>
        <h2>list of things to create and learn/discover</h2>
        <p>just using this to list all the things we need to do and also for testing if some of the pages have to html the way I want it before routing them</p>
        <ul>
            <li>need to create more pages</li>
            <li>login page</li>
            <li>main/landing page</li>
            <li>let's also create a blank map</li>
            <li>more routes in the backend</li>
            <li>go through flask docs to properly learn the concepts on using it for a backend</li>
            <li>learn the usage of jinja templates to dynamically add data as needed</li>
            <li><a href="/map">This is a link to the basic map made using leaflet.js</a></li>
            <li><a href="/login">this is the login page skeleton</a></li>
            <li><a href="/search">search page</a></li>
            <li><a href="/about">about page</a></li>
            <li><a href="/admin">admin page</a></li>
            <li>just realized that we'll also need to figure out how to communicate between client side javascript and the server</li>
        </ul>

    </main>
</body>
</html>