<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This works</h1>
    
    <main>
        <h2>list of things to create and learn/discover</h2>
        <ul>
            <li>need to create more pages</li>
            <li>login page</li>
            <li>main/landing page</li>
            <li>let's also create a blank map</li>
            <li>more routes in the backend</li>
            <li>go through flask docs to properly learn the concepts on using it for a backend</li>
            <li>learn the usage of jinja templates to dynamically add data as needed</li>
            <li><a href="/map">This is a link to the basic map made using leaflet.js</a></li>
        </ul>

    </main>
</body>
</html>